<div class="container">
    <h2>Contact Us</h2>
    <p>If you have any queries, feel free to reach out!</p>
    <p>TravelBetterWithUs&#64;gmail.com</p>
    <p>Toll free no:+91 9988776655</p>
    <h3>Customer Support</h3>
    <p>Need assistance with your booking or have a query about a destination? Our customer support team is dedicated to
      providing quick and efficient service. We aim to ensure that your travel experience is smooth from start to finish.
      Contact us via phone, email, or through our social media channels, and we’ll be happy to assist you with any
      inquiries</p>
    <h3>Let’s Plan Your Next Adventure</h3>
    <p>Planning a trip can be overwhelming, but we’re here to make it easy. If you’re unsure where to start or need help
      customizing your journey, drop us a message. Our travel specialists are experts in creating tailor-made itineraries
      that suit your interests and preferences. Let’s start planning your next unforgettable adventure today!
  
    </p>
    <h4>Office Hours</h4>
    <p>Our office hours are from Monday to Friday, 9 AM to 6 PM. During these hours, our team is fully available to take
      your calls, respond to emails, and assist with any travel-related needs. If you reach out after hours, rest assured
      we’ll get back to you the next business day.
  
    </p>
  </div>