.card {
    margin-bottom: 20px;
  }

  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .badge {
    font-size: 0.9rem;
  }

  :host {
    background-color: lightcyan;
    display: block;

  }
  .rating fa-icon {
  color: lightgray;
  margin-right: 3px;
}

.rating fa-icon.filled {
  color: gold;
}
.container{
  color: #007bff;
}

  